page-walkthrough {
  .ios, .md {
      ion-slide {
        background-color: #000000;
      }

      ion-slide img {
        height: 100vh !important;
        width: auto !important;
      }

    

  }
}
