page-contribute {
         .grid{
         background: $grid-back; 
             
     }
   .item-input{
        background-color: transparent !important;
       .item-inner, .text-input{
       border: none !important;
           box-shadow: none !important;
           }
       .text-input-wp {
           margin: 10px 8px;}
       .label{
           color: $def-color;
           padding-left: 0;
       }
       .input{
               background: rgba(68, 68, 68, 0.1);
               min-height: 48px;
               padding-left: 0px;
       }
       .label.dollar{
           padding: $pad-glob;
           background: $def-color;
           color: #fff;
           margin: 0;
           font-size: $ico-hgt;
       }
  
    }

     .error
     {
       color:red;
     }


   }
