page-home {
  .p-25{
    padding: 25% 0%;
  }
  .home-text{
    padding: 10px;
    text-align: center;
    font-size: 24px;
}
.home-text .hsa-text{
  font-size: 26px;
  font-weight: 600;
}
  .p-25::before{
    border: 180px solid #fff335;
    border-radius: 100%;
    content: "";
    height: 0;
    left: -24%;
    position: absolute;
    top: -52%;
    z-index: -1;
  }
    .p-25::after{
    border: 110px solid #ffffff;
    border-radius: 100%;
    content: "";
    height: 0;
    left: 82%;
    position: absolute;
    top: -44%;
    z-index: 1;
        
    }
    .button-md{
    background-color: #222;
    padding: 24px 10px;
    }
    
}
