page-view-graph {
  .grid{
         background: $grid-back; 
            min-height: 300px; 
    }
    .heading{
      color: #4bc0c0;
      font-size: 20px;
      font-weight: 600;
    }
    .display-result{
      font-size: 16px;
      font-weight: 600;
    }
}
