page-marginal {
  .grid{
         background: $grid-back; 
            min-height: 300px; 
     }
    .input-wrapper{
        .select {
       border: none;
    max-width: 100%;
    width: 100%;
}
    }
}
