// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import "../theme/variables";
body, h1, h2, h3, h4, p, a, label, ion-grid{
     font-family: $def-font;
}
.button-default{
    padding: $pad-glob;
    height: auto;
    line-height: auto;
    border: none;
    font-family: $def-font;
    font-size: $ico-hgt;
    border-radius: $def-radius;

}
  .side-r{
            margin-right: -2px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;

    }
    .side-l{
            margin-left: -2px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    }
    .side-b{
            border-radius: 0;
    margin: 0 -5px;
}
 .content{
    background: #fff url('../assets/imgs/arc-bg.png') no-repeat;
     background-position: top right;
     .hr{
         border-top:1px solid #444;
         margin-top: 20px;
     }
    }
.menu-inner{
    .content{
        background: #000; color: #fff;
        button{ color: #fff;
            ion-icon{    line-height: 26px;}
        }
    }
}
.nextbtn{
       height: $ico-hgt*2+5;
     border-radius: 0;
    position: fixed; bottom:-3px;
    ion-icon{ padding-left: 15px;}
    }
label{ font-size: $fsize+2; font-weight: 600;
padding: 10px 0 5px;
}
.border-t{
    border-top: $hr;
    margin-top: 30px;
    padding-top: 20px;
}
.item{ background-color: transparent!important;}
    .item-inner{ background-color: $gray-back !important;}
