page-what-is-hsa {
     .grid{
         background: $grid-back;  
         .border-t {
             
             margin-top: 10px;}
     }
.featureList, .featureList ul {
  margin-top: 0;
  padding-left: 2em;
  list-style-type: none;
}
.featureList li:before {
  position: absolute;
  margin-left: -1.3em;
  font-weight: bold;
}
.featureList li.tick:before {
  content: "\2713";
  color: darkgreen;
}
}
